.banner-wrapper {
  min-height: 768px;

  &__content {
    &-title {
      background-color: var(--clr-green-normal);
      padding: 4px 16px;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0.1em;
      display: inline-block;
      margin-bottom: 25px;
    }

    &-main {
      font-family: var(--font-family-right);
      font-size: 50px;
      font-weight: 400;
      letter-spacing: 0.09em;
      line-height: 1.2;
      max-width: 600px;
      margin-bottom: 40px;
    }

    &-description {
      max-width: 600px;
    }

    &-button {
      min-width: 140px;
      height: 45px;
      padding: 13px 16px;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      border: 2px solid var(--clr-green-normal);
      margin-top: 33px;

      &__icon {
        margin-right: 16px;
        margin-top: 4px;
      }

      &:hover {
        background-color: var(--clr-green-normal);

        .banner-wrapper__content-button__text {
          color: var(--clr-white);
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .banner-wrapper__content {
    &__content {
      &-title {
        font-size: 26px;
      }
    }
  }
}
